@font-face {
  font-family: adamCGPro;
  src: url(fonts/adam_cg_pro.otf);
}
@font-face {
	font-family: chalkduster;
	src: url(fonts/chalkduster.ttf);
  }

body{
	background-color: #32353A;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	text-align: center;
    padding: 0px;
	overflow-x: hidden;
	
}

nav{
	background: #232528;
	border-bottom: 2px solid #45BEA9;
	padding-top: 1.1em !important;
	padding-bottom: 1.1em !important;
	z-index: 99;
	text-align: left;
	color: #fff;
}
.navbar-nav{
	margin: 0 auto;
}
.link-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.nav-link{
	cursor: pointer;
	display: inline-block;
	margin: 0 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	transition: all 0.2s;
	color: #fff !important;
}
.nav-link:hover{
	color:#45BEA9 !important;
	transition: all 0.2s;
}
.active{
	color: #45BEA9 !important;
	font-weight: 500;
}
.circle{
	width: 15em;
	height: 15em;
	border-radius: 50%;
	margin:0 auto;
	border: 5px solid #45BEA9;
}
.circle img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.title-name{
	font-family: adamCGPro;
	margin-top: 5%;
	font-size: 2.7em;
}
.span-name{
	color: #EF3F55;
}
.title-desc{
	font-family: chalkduster;
	margin-top: 1%;
	font-size: 1.8em;
	min-height: 1.4em;
}
.container{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%,-55%);
}

.bg-svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url(bgs/bg.svg);
	background-position: center; 
	background-size:cover;
	opacity: 0.5;
	z-index: -5;
}

.icon-box{
	/* background-color: #45BEA9; */
	display: inline-block;
	padding: 0.5em;
	/* border-radius: 50%; */
	/* height: 1.2em; */
	/* width: 1.2em; */
	margin: 0 0.8em;
	transition: all 0.2s;
	
}

.icon-box :hover{
	transform: scale(1.2);
	transition: all 0.2s;
}

.icon-box:hover .fa{
	color: #EF3F55 !important;
	transition: all 0.2s;
}

.circle-icon {
    background: #fff;
	padding:0.6em;
	width: 2.5em;
	height: 2.5em;
	line-height: 1.4em;
    border-radius: 50%;
}