@font-face {
  font-family: adamCGPro;
  src: url(fonts/adam_cg_pro.otf);
}
@font-face {
	font-family: chalkduster;
	src: url(fonts/chalkduster.ttf);
  }

html{
	scroll-behavior: smooth;
}

body{
	background-color: #fff;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	text-align: center;
    padding: 0px;
	overflow-x: hidden;
	
}

nav{
	background-color: #232528 !important;
	/* border-bottom: 2px solid #45BEA9; */
	padding-top: 1.0em !important;
	padding-bottom: 1.0em !important;
	z-index: 99;
	text-align: left;
	color: #fff;
}
.navbar-nav{
	margin: 0 auto;
}
.link-wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.nav-link{
	cursor: pointer;
	display: inline-block;
	margin: 0 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1em;
	transition: all 0.2s;
	color: #fff !important;
}
.nav-link:hover{
	color:#45BEA9 !important;
	transition: all 0.2s;
}
.active{
	color: #EF3F55 !important;
	/* font-weight: 700; */
}
.circle{
	width: 15em;
	height: 15em;
	border-radius: 50%;
	margin:0 auto;
	border: 5px solid #45BEA9;
}
.circle img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.title-name{
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	margin-top: 5%;
	font-size: 2.7em;
}
.span-name{
	color: #EF3F55;
}
.title-desc{
	/* font-family: chalkduster; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	margin-top: 1%;
	font-size: 1.8em;
	min-height: 1.4em;
}
.container-center{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.bg-svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	/* background-image: url(bgs/bg.svg); */
	background-position: center; 
	background-size:cover;
	opacity: 0.5;
	z-index: -5;
}

.icon-box{
	/* background-color: #45BEA9; */
	display: inline-block;
	padding: 0.5em;
	/* border-radius: 50%; */
	/* height: 1.2em; */
	/* width: 1.2em; */
	margin: 0 0.8em;
	transition: all 0.2s;
	
}

.icon-box :hover{
	transform: scale(1.1);
	transition: all 0.2s;
}

.icon-box:hover .fa{
	color: #EF3F55 !important;
	transition: all 0.2s;
}

.circle-icon {
    background: #fff;
	padding:0.6em;
	width: 2.5em;
	height: 2.5em;
	line-height: 1.4em;
    border-radius: 50%;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0 !important;
}

#intro{
	height: 91vh;
	background-color: #262A34;
}

#about{
	color: #444545;
	padding-top: 5em;
	font-family: 'Lato';
	font-weight: 400;
	padding-bottom: 5em;
}


.about-intro h1{
	color: #46BEA9;
	font-family: 'Montserrat';
	font-weight: 500;
}

.line{
	width: 75%;
	height: 2px;
	background-color: #D1D1D1;
	margin: 0 auto;
	display: block;
}

.resume-box{
	border: 5px  solid #46BEA9;
	padding: 1.4em 0;
	margin-top: 2em;
	font-family: 'Montserrat';
	border-radius: 0.5em;
}

.resume-box a{
	color: #46BEA9;
	font-weight: 500;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.slide:hover a{
	color:#fff;
}
.slide:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #46BEA9;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.slide:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}


#timeline{
	color: #000;
	font-family: 'Montserrat';
	padding-bottom: 4em;
}

.timeline h1{
	color: #46BEA9;
	margin-bottom: 0em;
	border: 4px solid #46BEA9;
	padding: 0.8em 0;
	border-radius: 0.5em;
	font-weight: 400;
	font-size: 2em;
}

.timeline ul li{
	list-style-type: none;
	position: relative;
	width: 4px;
	margin: 0 auto;
	padding-top: 50px;
	font-size: 1em;
	background: #45BEA9;
}

.timeline ul li::after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 40%;
	transform: translateX(-50%);
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;
	background:#fff;
	border: 4px #45BEA9 solid;

}

.timeline ul li .content{
	position: relative;
	width: 400px;
	padding: 15px;
	background: #FEFFFF;
	text-align: left;
	border-radius: 0.5em;
	box-shadow: 5px 5px 23px 0px rgba(0,0,0,0.02);

	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.timeline ul li .content:hover{
	position: relative;
	width: 400px;
	padding: 15px;
	background: #FEFFFF;
	text-align: left;
	border-radius: 0.5em;
	
}

.timeline ul li h5{
	color: #4C4C4D;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 2px;
}

.timeline ul li .title{
	color: #666766;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1.1em;
}

.timeline ul li .date{
	color: #666766;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1.1em;
	margin-bottom: 8px;
}

.timeline ul li p{
	color: #505051;
	font-family: 'Lato';
	font-weight: 400;
	font-size: 0.95em;
}

.timeline ul li:nth-child(odd) .content{
	left: 45px;
}

.timeline ul li:nth-child(even) .content{
	left: -439px;
}

@media screen and (max-width: 900px) {
	.timeline ul li .content {
	  width: 250px;
	}
	.timeline ul li:nth-child(even) .content {
	  left: -289px; /*250+45-6*/
	}
  }

  
@media screen and (max-width: 600px){
	.timeline ul li{
		margin-left: 20px;
	}

	.timeline ul li .content{
		width: calc(100vw - 91px);
	}

	.timeline ul li:nth-child(even) .content {
		left: 45px;
	}
}

.footer{
	font-family: 'Lato';
	font-weight: 500;
	background-color: #292C2F;
	padding: 1em 0;
}