body{
	background-color: #FAFAFA;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	text-align: center;
    padding: 0px;
    overflow-x: hidden;
}
.circle{
	width: 15em;
	height: 15em;
	border-radius: 50%;
	margin:0 auto;

}
.circle img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
a{
	text-decoration: none;
	color: #000;
}
.title-name{
	margin-top: 5%;
	font-weight: 100;
	font-size: 1.8em;
	letter-spacing: 0.1em;
}
.title-desc{
	font-family: 'Lato', sans-serif;
	margin-top: 0.9%;
	font-size: 1.1em;
	color: #595959;
}
.container{
	position: absolute;
	left: 50%;
	top: 42%;
	transform: translate(-50%,-50%);
}
i{
	padding:10px;
	padding-top: 0;
	padding-bottom: 0;
	transition: all 0.2s;
}
.social :hover{
	transform: scale(1.5);
	transition: all 0.2s;
}
